/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    background-color: red;
    overflow: hidden;
}


#container {
    min-height: 100vh;
    width: auto;
    overflow: hidden;
}

#GIF_MC {
    transform: rotate(180deg) scaleX(-1);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    z-index:0;
    opacity: 1;
    overflow:hidden;
}

/* Background Video Styles */
#background-video {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    opacity: 0.4;
    object-fit: cover; /* Ensures the video covers the entire background */
    z-index: 0;
    filter: contrast(140%) brightness(90%) saturate(200%) hue-rotate(200deg);
    overflow:hidden;
}

/* Centered Text Styles */
.center_text {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Haettenschweiler;
    font-style: italic;
    font-size: 8vw;
    color: #40fd14;
    text-align: center;
    z-index: 1; /* Ensure the text is above the video */   
}
.center_text.HoverShine{
    text-shadow: 0px 0px 59px rgba(255,0,0,0.9);
}

/* Navbar Styles */
.navbar {

    position: fixed;
    font-size: 7vw;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: transparent; /* Semi-transparent black background */
    z-index: 1;
}

    .navbar ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .navbar li {
        display: inline-block;
        color: lawngreen;
        margin-right: 40px;
    }

    .navbar a {
        text-decoration: none;
        font-weight: bold;
        color: #40fd14;
        transition: color 2s ease;
    }
    .navbar a.color2 {
        color:#ccff00;
    }
    .navbar a.color3{
        color: springgreen;
    }
    .navbar a:hover {
        transition: none;
        color: red;
    }
    .navbar a:hover{ text-shadow: 0px 0px 10px rgba(255,0,0,0.9)}

.audio-player {
    z-index: 1;
    position: relative;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
    #playPauseButton {
        background: transparent;
        border: none;
        color: #40fd14;
        font-size: 2em !important;
    }


media quer
